.App {
  font-family: sans-serif;
  text-align: center;
}

.newmodal_dialog{
  position: fixed;
  z-index: 100; 
  bottom:0;
  right: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  animation: slideColor .9s linear;
  overflow: hidden;

}






